<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- CSRF Token -->
		<meta name="csrf-token" content="{{ csrfToken }}">

		{{ style('/css/main.css') }}

	</head>
	@!section('header')
	<body>
		<div class="site-wrap">
			@!section('content')

		</div>
		{{ script('/js/manifest.js') }}
		{{ script('/js/vendor.js') }}
		{{ script('/js/main.js') }}
		@!section('footer')
	</body>
</html>
