<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Orders</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">
      <h1>Your received the following order:</h1>
      <ul>
        @each(orderProduct in orderProducts)
        <li> {{ orderProduct.product_name }} {{ orderProduct.price }} {{ orderProduct.quantity }} </li>
        @endeach
      </ul>
    </div>
    </section>
  </body>
  </html>
