<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Password Reset</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">
      <p>You recently requested to change your password.</p>
      <p>For security measures, never share the <a href="http://localhost:3333/passwordReset/{{ email }}/{{ token }}">link</a> that is being delivered to you.</p></div>
      <p>Click <a href="http://localhost:3333/passwordReset/{{ email }}/{{ token }}">here</a> to reset your password. </p>
  </section>
</body>
</html>
