<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Password Reset</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle"><p>For security measures, the
      <a href="#">link</a> to reset the password will expire in one day.</p></div>
      <p>If you let the date expire, you can always ask for another password reset by accessing the Back Office's correspondent section.</p>
      <p>Reset link: <a href="/"></a></p>
  </section>
</body>
</html>
